h1 {
    text-align: center;
}

h3 {
    text-align: center;
}

.hidden {
    visibility: hidden;
}

.visible {

}

.progress-bar#progress {
    color: black;
}

.thumbnail {
    height:480px;
    width: 330px;
}