{% extends 'base.html' %}
{% block content %}

<h1>Top Rated Movies</h1>

<h3>The best of the BEST</h3>


<div class="row">
  <div class="col-xs-6 col-md-3">
    <a href="#" class="thumbnail">
      <img src="http://www.impawards.com/2008/posters/forgetting_sarah_marshall_ver3.jpg" alt="Forgetting Sarah Marshall" alt="Forgetting Sarah Marshall">
    </a>
  </div>
  <div class="col-xs-6 col-md-3">
    <a href="#" class="thumbnail">
      <img src="http://static.rogerebert.com/uploads/movie/movie_poster/dazed-and-confused-1993/large_4vev7j7EvrSr1Gp6ckVwI7GmEcb.jpg" alt="Forgetting Sarah Marshall" alt="Forgetting Sarah Marshall">
    </a>
  </div>
  <div class="col-xs-6 col-md-3">
    <a href="#" class="thumbnail">
      <img src="https://yifymovie.re/images/bposter/austin-powers-international-man-of-mystery-1997-movie-poster.jpg" alt="Forgetting Sarah Marshall" alt="Forgetting Sarah Marshall">
    </a>
  </div>
    <div class="col-xs-6 col-md-3">
    <a href="#" class="thumbnail">
      <img src="https://s-media-cache-ak0.pinimg.com/736x/fd/5e/66/fd5e662dce1a3a8cd192a5952fa64f02.jpg" alt="Forgetting Sarah Marshall" alt="Forgetting Sarah Marshall">
    </a>
  </div>

</div>

{% endblock %}