{% extends 'base.html' %}
{% block content %}

<h1>{{ title }}</h1>

<section class="{{ class_name }}" id="your-rating">
  <h3 class="{{ class_name }}">Your rating:</h3>
  <p id="user-score">{{ user_score }}</p>
</section>

<section>
  <h3>Movie Ratings:</h3>
  <ul>
    {% for score in scores %}
    <li>{{ score }} </li>
    {% endfor %}
  </ul>
</section>

<section>
  {% if 'user_id' in session %}
    {% if user_score %}
      <h2 id="rerate">Change your mind? Change your rating!</h2>
    {% else %}
      <h2 id="initial-rating">Rate Movie</h2>
    {% endif %}

    <form id='rating-form' action='/rate-movie' method='POST'>
      Rating:<br>
      <input type="hidden" name="title" id="title" value="{{ title }}">
      <input type='radio' id='rating' name='rating' value='1'>1<br>
      <input type='radio' id='rating' name='rating' value='2'>2<br>
      <input type='radio' id='rating' name='rating' value='3'>3<br>
      <input type='radio' id='rating' name='rating' value='4'>4<br>
      <input type='radio' id='rating' name='rating' value='5'>5<br>
      <input type='submit'>
    </form>
  {% else %}
  <h3> <a href="/user-login">Login</a> to rate the movie!</h3>
  {% endif %}
</section>

<script>
  function updateMovieDetails(result){
    alert(result);
    $("#initial-rating").html('Change your mind? Change your rating!');
    $(".hidden").attr("class", "visible");

  }
  
  function submitRating (evt) {
    evt.preventDefault();

    var userRating = {
      'rating': $("#rating").val(),
      'title': $("#title").val()
    }

    $.post("/rate-movie", userRating, updateMovieDetails);
  }

  $('#rating-form').on("submit", submitRating);
</script>

{% endblock %}